span>h5{
    border: 1px solid black;
    padding: 20px 60px;
}

#evaluationHeader{
    background-color: rgb(255, 255, 255);
    margin: 1.5rem;
    border-radius: 9px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 70vw;
    margin-bottom: 20px;
}

.backScreen{
    margin-left: 30px;
    background-color: white;
    border-radius: 14px;
    max-width: 70vw;
    padding: 10px;
    width: 70vw;
}

.evalFieldsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 1rem;
}

.questionCard{
    width: 31vw;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.questionsSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.questionCard>div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.questionCard>div>input{
    padding: 1rem;
    border-radius: 10px;
}

.sectionEval{
    padding-bottom: 300px;
    margin: 120px 100px;
}

.headerSection{
    color: #2D9CDB;
}

#evalFieldsFooter{
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

#testAppBegin{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#backBodyObs{
    padding: 1rem;
    border: 1px solid rgba(214, 214, 214, 0.486);
    border-radius: 7px;
}