nav{
    height: 100vh;
    width: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 3;
}

#topNavBar{
    width: 5vw;
    height: 12vh;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 0px 8px rgb(179, 179, 179);
    z-index: 3;
}

#bottomNavBar{
    background-color: #00995D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 3rem 0.5rem;
    height: 88vh;
}