@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.divHeader{
    font-weight: 500;
    font-family: 'Confortaa';
    font-size: 26px;
}

main{
    position: absolute;
    top: 75px;
    left: 120px;
}

#mainHeader>h3{
    font-weight: 500;
    font-family: 'Comfortaa' !important;
}

.specialSection{
    background-color: white;
    border-radius: 14px;
    padding: 1rem;
}
.sectionHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 85vw;
  }
  
  th, td {
    border: .5px solid rgb(228, 227, 227);
    padding: 8px;
    text-align: left;
  }

.dFlexRow{
    display: flex;
}

.sectionHeader>div>span{
    border-bottom: .5px solid lightgray;
    border-right: .5px solid lightgray;
    padding:  0 .5rem;
    line-height: 7px;
    text-align: center;
}

.bannerBody{
    background-color: #017849;
    padding: .5rem;
    border-radius: 7px;
    color: white;
    margin-top: 30px;
}

#textArea{
    height: 20vh;
    width: 98%;
}

#obsSpace{
    padding: .5rem;
    margin: 20px;
}

#inputsGeneral{
    width: 80vw;
    padding: 2rem 2rem 0;
}

.inputsLineUser{
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
    position: relative;
}

.inputSolo{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.inputSelf{
    outline: none;
    padding: 12px;
    border-radius: 7px;
    width: 300px !important;
    border: 1px solid lightgray !important;
}

.smallInput{
    outline: none;
    padding: 12px;
    border-radius: 7px;
    width: 100px !important;
    border: 1px solid lightgray !important;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.compUser{
    position: absolute;
    top: 110px;
    left: 140px;
}

.navHeader{
    padding: .1rem 1rem;
    display: flex;
}
.navHeader div{
    border-bottom: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    padding: 0 2rem;
}

.navHeader h3{
    font-weight: 500;
    font-family: Comfortaa;
    font-size: 21px !important;
}

.colorGreen{
    color: #017849 !important;
}

.greyCard{
    background-color: #F2F2F2;
    border-radius: 14px;
    width: 60vw;
    height: 203px;
}

.contentCard{
    display: flex;
    padding: 1rem;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
}

.dFlex{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.colorBlue{
    color: #009BDF;
    font-weight: 700;
    cursor: pointer;
}

.font600{
    font-weight: 600;
}

.creditCard{
    margin-top: 1.5rem;
    align-items: center;
}

.btnGreen{
    background-color: #017849;
    border-radius: 32px;
    color: white;
    padding: 1rem 5rem;
    font-size: 16px;
    font-weight: 600;
    border: none;
    box-shadow: 1px 1px 3px rgb(134, 134, 134);
}