.MainComp{
    width: 93.5vw;  
    position: absolute;
    top: 80px;
    left: 5vw;
    height: 90vh;
}

#navBar{
    background-color: white;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 1rem;
    font-size: 18px;
    border-radius: 18px 0px 0px 18px;
}

#searchBar{
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftSearchBar>span{
    padding: 1rem;
    border-right: 1px solid rgb(218, 215, 215);
}

.searchSpan{
    padding: 1rem 2rem;
    border-radius: 14px;
    font-size: 14px;
    border: 1px solid darkgray;
    display: flex;
    align-items: center;
}

.searchSpan>input{
    border: none;
    width: 250px;
    outline: none;
}

#infoSide{
    width: 23vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#medicalRecordSide{
    width: 62vw;
    height: 100%;
}

.sideCard{
    position: relative;
    width: 21vw;
    border-radius: 17px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 10px 0px 1px 30px;
    box-shadow: 1px 1px 6px rgb(201, 200, 200);
}

.sideCard>div{
    font-size: 18px;
    font-weight: 500;
}

div>span{
    color: #00995D;
}

#goalText{
    padding: 0 0 20px 1px;
}

.buttonSide{
    position: absolute;
    right: 15px;
    top: 20px;
}

.buttonSide>button{
    border: 1px solid #00995D;
    border-radius: 9px;
    background-color: #ffff;
    box-shadow: 1px 1px 2px rgb(160, 160, 160);
}

#newNoteBar{
    background-color: #ffffff;
    padding: 14px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60vw;
}

#newNoteBar>input{
    width: 90%;
    padding: 14px 12px;
    border-radius: 24px;
    font-size: 15px;
    margin: 15px 0 8px 0;
}

#newNoteBar>hr{
    width: 100%;
    opacity: .3;
    margin: 20px 0;
}

#buttonsNewNote{
    display: flex;
    gap: 3.5rem;
    padding: .1rem;
}
  
.buttonNewNote{
    display: flex;
    gap: .5rem;
}

.marginBottom{
    margin-bottom: 100px;
}

#divisionFilter{
    display: flex;
    gap: .5rem;
    margin: 15px 0 15px 0;
}

#divisionFilter>hr{
    width: 52vw;
}
.cardName{
    background-color: #ffff;
    border-radius: 0 16px 16px 0;
    border-left: 6px solid #00995D;
    padding: 1.5rem;
    box-shadow: 1px 1px 7px rgb(211, 210, 210);
    margin-top: 50px;
    position: relative;
}
.cardName>img{
    position: absolute;
    top: -25px;
}
.cardName>button{
    position: absolute;
    right: 20px;
    top: 0;
    background-color: #ffff;
    border: none;
    font-size: 35px;
}
.cardName>button:hover{
    font-size: 37px;
}

.divImgCard{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divImgCard>img{
    margin-left: 4px;
}
#backToTop{
    width: 62vw;
    text-align: center;
    height: 100px;
    font-size: 23px;
    margin-top: 50px;
}

#compMedicalRecord{
    position: absolute;
    top: 13%;
    left: 7%;
}

#compMedRecSplited{
    display: flex;
    margin-top: 50px;
    gap: 1rem;
}