.dFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#greenBanner{
    position: absolute;
    width: 792px;
    height: 303px;
    top: 30px;
    background-color: #017849;
    border-radius: 0px 0px 16px 16px;
}

#logoBanner{
    position: relative;
    top: 73px;
    margin: 10px;
}

#woman{
    position: relative;
    right: 190px;
}

#textBanner{
    position: relative;
    width: 310px;
    left: 370px;
    bottom: 100px;
    text-align: center;
    color: white;
}

#textBanner>h1{
    font-weight: 600;
    font-family: Comfortaa !important;
    width: 20vw;
}
#textBanner>p{
    font-weight: 300;
    font-family: Comfortaa !important;
}

#backPatients{
    width: 792px;
    height: 594px;
    background-color: white;
    
    position: relative;
    top: 334px;
    
    display: flex;
    flex-direction: column;

    padding: .5rem;
}


#headerPatients{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 1rem;
    padding: .5rem;
}

#tablePatients{
  width: 100%;
}

table{
    border: 1px solid grey;
}

td{
    border: 1px solid rgb(0, 0, 0);
}

.colorBlue{
  color:#2F80ED !important;
}

.pagination{
    position: absolute;
    bottom: 0;
    left: 600px;
    display: flex;
    gap: .5rem;
    list-style: none;
}

.modalE-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modalE {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    padding-bottom: 50px !important;
    border-radius: 25px !important; 
    width: 557px;
    height: 400px;
    text-align: center;
  }
  #greyGradient{
    position: relative;
    left: 170px;
    z-index: -1;
  }
  #womanDesktop{
    position: relative;
  }

  #modalImg{
    display: flex;
    margin-bottom: 10px;
  }

  .btnVamosLa{
    background-color: #017849 !important;
    color: white;
    padding: 14px 100px !important;
    border-radius: 32px !important;
    font-size: 17px;
    font-weight: 600;
  }
  .btnVamosLa:hover{
    background-color: gray !important;
    color: black;
  }