.modal{
  width: 99vw;
  height: 99vh;
  z-index: 2;
  background-color: #7777773a;
}

.modal-content{
  position: relative;
  width: 27%;
  background-color: #fff;
  margin-top: 300px;
  margin-left: 700px;
  border-radius: 14px;
  padding: 4rem;
}
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 50px;
  }
  
  .modal button:focus {
    outline: none;
  }
  
  .modal button:hover {
    background-color: #00311e;
    color: #fff;
  }

  .okButton{
    background-color: #017849;
    padding: 15px 130px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 23px;
  }
  