main{
    background-color: #017849;
    width: 26vw;
    position: absolute;
    padding: 21px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    place-items: center !important;
    border-radius: 14px;
    margin-left: 30%;
    margin-top: 7%;
}

#wexerLogoBack{
    position: absolute;
    z-index: -1;
    max-height: 98vh;
}

#loginScreen{
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputSpace{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.whiteBack{
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteBack>main{
    background-color: white;
    width: 26vw;
    position: absolute;
    padding: 21px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    place-items: center;
    border-radius: 14px;
    box-shadow: 1px 1px 5px lightgray;
}

#infoPassword{
    display: flex;
    flex-direction: column;
}

#registrationBack{
    width: 25%;
    background-color: #017849;
    margin: 50px auto;
    padding: 14px;
    color: white;
    border-radius: 14px;
}

#registrationBack>div>hr{
    margin-top: -10px;
}

#regHeader{
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.inputRegLine{
    display: flex;
    gap: 2rem;
}
.inputRegLine>div>label{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 210px;
    margin-top: 10px;
    font-size: 12px;
}
.inputRegLine>div>label>input{
    padding: 9px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: none;
}

.dFlexRow{
    display: flex;
    flex-direction: row !important;
    gap: 2rem;
}

.inputShort{
    width: 80px !important;
}
.labelShort{
    width: 80px !important;
}

select{
    padding: 9px;
    border-radius: 7px;
}

.margin-top{
    margin-top: 15px;
}
.inputLogin{
    padding: 12px;
    width: 400px;
    border-radius: 8px;
    outline: none;
}

.flexCol{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.whiteColor{
    color: white !important;
}

.blackColor{
    color: black !important;
}

.forgotPassword{
    color: white;
    text-decoration: underline;
}

.forgotPassDiv{
    display: block;
    text-align: end;
}

.buttonLogin{
    border-radius: 35px;
    background-color: #017849;
    border: 1px solid white;
    padding: 16px 190px;
}

.buttonLine{
    display: flex;
    justify-content: flex-end;
}

.backGreen{
    width: 100%;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    padding: .3rem;
}