.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modal {
    position: relative;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 16px;
    z-index: 4;
  }

  .modalSize{
    height: 55%;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-start;
  }
  
  .modal-header button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-content {
    margin-top: 16px;
  }
  
  .dFlex{
    display: flex;
  }

  .headerAddTests{
    background-color: #219653;
    display: flex;
    gap: 1rem;
    padding: .2rem .5rem;
    border-radius: 14px 14px 0px 0px;
    color: #fff;
    font-weight: 600;
  }

  .bodyAddTests{
    display: flex;
    padding: .5rem 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px lightgrey;
    border-radius: 0px 0px 14px 14px;
  }

  .bodyAddTests select{
    width: 100px;
  }

  .sectionPaymentHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .cardInfo{
    display: flex;
    flex-direction: column;
  }

  .infoCard{
    display: flex;
    gap: .5rem;
  }

  .dFlex{
    display: flex;
  }

  .txtAlign{
    justify-content: flex-start;
  }