@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

#sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

table {
    border-collapse: collapse;
    width: 85vw;
  }
  
  th, td {
    border: .5px solid rgb(228, 227, 227);
    padding: 8px;
    text-align: left;
  }

.dFlexRow{
    display: flex;
}

#sectionHeader>div>span{
    border-bottom: .5px solid lightgray;
    border-right: .5px solid lightgray;
    padding: 0 .5rem;
    line-height: 7px;
    text-align: center;
}

.bannerBody{
    background-color: #017849;
    padding: .5rem;
    border-radius: 7px;
    color: white;
    margin-top: 30px;
}

#textArea{
    height: 20vh;
    width: 98%;
}

#obsSpace{
    padding: .5rem;
    margin: 20px;
}

#inputsGeneral{
    width: 80vw;
    padding: 2rem 2rem 0;
}

.inputsLine{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.inputSolo{
    display: flex;
    flex-direction: column;
}
.inputSolo>input{
    width: 24vw;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid lightgray;
    outline: 0;
}

#patientsScreen{
    position: absolute;
    top: 130px;
    left: 140px;
}

.mainHeader{
    font-size: 28px;
}

.divPatientsScreen{
    width: 85vw;
    background-color: white;
    padding: 21px;
    border-radius: 14px;
}

.compPatientReg{
    position: absolute;
    top: 120px;
    left: 140px;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
}