.backInterview{
    padding: 1rem;
    height: 100vh;
}

.bodyInterview{
    padding: 1rem;
    height: 90vh;
    position: absolute;
    top: 150px;
    left: 100px;
}

.headerInterview{
    max-width: 60vw;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 21px 5px 5px 21px;
    border-bottom: 1px solid grey;
    border-left: 9px solid #00995D;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-right: 5rem;
}

.headerInterview>div>h2{
    color: #00995D;
}

.headerButtons{
    display: flex;
    gap: 1rem;
}

.innerBodyInterview{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    width: 62vw;
    margin-bottom: 100px;
}

.mg-bottom{
    margin-bottom: 50px !important;
}

.innerBodyInterview>div>h2{
    color: #00995D;
}

.textAreaBody{
    width: 40vw;
    padding: 1rem;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 9px rgb(221, 221, 221);
}

.ql-editor {
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
  }

  .footerInterview{
    display: flex;
    padding: 2.5rem;
    gap: 1.5rem;
    margin-top: 50px;
  }
  
  h2{
    color: #00995D;
  }

  .outerComp{
    position: absolute;
    top: 15%;
    left: 7%;
  }

  .buttonBig{
    background-color: #017849;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 32px;
    color: white;
    font-weight: 600;
    border: 3px solid white;
  }

  .buttonBig:hover{
    border: 3px solid #2D9CDB;
  }

  .imgButton{
    border: .5px solid #017849;
  }

  .imgButton:hover{
    border: .5px solid #2D9CDB;
    border-radius: 50%;
  }

  .interviewLine{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
  }